* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #073307;
    position: relative;
    padding: 16px 32px;
}

.logo {
    height: 104px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

.hero {
    background-image: url(/assets/img/demetra-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #faebd7;
    color: #073307;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.content-section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h2 {
    color: #073307;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
}

.lista {
    list-style: none;
    margin-top: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}