/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333;
    line-height: 1.5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #073307;
    padding: 16px 32px;
}

.logo {
    height: 104px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

/* Hero */
.hero {
    background-image: url("../img/demetra-bg.png"); /* path corretto */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #faebd7;
    color: #073307;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Sezioni contenuto */
.content-section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h2 {
    color: #073307;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
}

.lista {
    list-style: none;
    margin-top: 20px;
}

/* Social icons */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        flex-direction: column;
        gap: 5px;
    }
}
